# Load dataset

In [1]:
import gc
import pandas as pd

train = pd.read_parquet('../input/train.parquet', nthreads=4)

features = ['ip', 'app', 'device', 'os', 'channel']
target = ['is_attributed']

X = train[features]
y = train[target]

In [2]:
train.head()

       ip  app  device  os  channel  is_attributed
0   83230    3       1  13      379              0
1   17357    3       1  19      379              0
2   35810    3       1  13      379              0
3   45745   14       1  13      478              0
4  161007    3       1  13      379              0

# Playing with new features

In [3]:
train = train[:100000]

In [34]:
# Docs: https://stackoverflow.com/questions/24678308/how-to-find-location-with-ip-address-in-python

import ipaddress
from pygeoip import GeoIP, MEMORY_CACHE

gi = GeoIP("../dbs/GeoLiteCity.dat", MEMORY_CACHE)

def get_deoip(byte_ip, item):
    ip = str(ipaddress.IPv4Address(byte_ip))
    record = gi.record_by_addr(ip)
    return record[item] if record is not None else 0

postal_code = lambda x: get_deoip(x, 'postal_code')
area_code = lambda x: get_deoip(x, 'area_code')
longitude = lambda x: get_deoip(x, 'longitude')
latitude = lambda x: get_deoip(x, 'latitude')
dma_code = lambda x: get_deoip(x, 'dma_code')

In [35]:
for ip in train['ip']:
    postal_code = get_deoip(ip, "postal_code")
    if postal_code != 0:
        print(postal_code)

In [36]:
train

           ip  app  device  os  channel  is_attributed  postal_code  longitude
0       83230    3       1  13      379              0            0          0
1       17357    3       1  19      379              0            0          0
2       35810    3       1  13      379              0            0          0
3       45745   14       1  13      478              0            0          0
4      161007    3       1  13      379              0            0          0
5       18787    3       1  16      379              0            0          0
6      103022    3       1  23      379              0            0          0
7      114221    3       1  19      379              0            0          0
8      165970    3       1  13      379              0            0          0
9       74544   64       1  22      459              0            0          0
10     172522    3       1  25      379              0            0          0
11     105861    3       1  13      379              0            0          0
12     210962    3       1  19      379              0            0          0
13     124979    3       1  18      379              0            0          0
14      38816    3       1  18      379              0            0          0
15      80447    3       1  19      379              0            0          0
16     134575    3       1  13      379              0            0          0
17      57576    3       1  19      379              0            0          0
18       7755    3       1  13      379              0            0          0
19      91749    3       1  19      379              0            0          0
20      50694    3       1  18      379              0            0          0
21     111385    3       1  18      379              0            0          0
22     125222   14       1   3      478              0            0          0
23     191759    3       1  13      379              0            0          0
24      53418    3       1  17      379              0            0          0
25     183168    3       1  19      379              0            0          0
26      47902    3       1  17      379              0            0          0
27     209663    3       1  13      379              0            0          0
28     129614    3       1  20      379              0            0          0
29     208347    3       1  19      379              0            0          0
...       ...  ...     ...  ..      ...            ...          ...        ...
99970   15660   12       1  19      259              0            0          0
99971  192610    2       1   8      237              0            0          0
99972  121472   36       1  14      110              0            0          0
99973   49025    9       1  18      442              0            0          0
99974   93715   14       1   8      467              0            0          0
99975   81541    9       1   9      134              0            0          0
99976  162789    1       1  17      153              0            0          0
99977  128108    9       1  17      134              0            0          0
99978   72867    3       1  27      137              0            0          0
99979   85065   12       1  19      178              0            0          0
99980   41640   15       1  10      140              0            0          0
99981    3994    9       1  19      134              0            0          0
99982   28034    8       1  17      145              0            0          0
99983   88176    9       1   8      134              0            0          0
99984   17248   13       1  13      477              0            0          0
99985   73516   12       1  22      326              0            0          0
99986  109567   13       1  19      400              0            0          0
99987   86840    8       1  15      145              0            0          0
99988   93587    9       1  25      134              0            0          0
99989   74889   17       1  19      280              0            0          0
99990  133901    8       1  13      145              0            0          0
99991   98293    3       1  19      409              0            0          0
99992  160682    2       1  13      122              0            0          0
99993   86669    2       1   1      212              0            0          0
99994   44545    2       1  13      236              0            0          0
99995  137399   15       1  19      140              0            0          0
99996   81341    1       1  13      134              0            0          0
99997  153416    8       1  18      145              0            0          0
99998   73487   64       1  13      459              0            0          0
99999   39889   12       1  20      245              0            0          0

[100000 rows x 8 columns]

# Train/Test Split

In [ ]:
from sklearn.cross_validation import train_test_split

In [ ]:
features = ['ip', 'app', 'device', 'os', 'channel']
target = ['is_attributed']

X = train[features]
y = train[target]

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=42, test_size=0.1)

In [ ]:
del train, X, y
gc.collect()

# Model

In [ ]:
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.ensemble import RandomForestClassifier

import xgboost as xgb
import lightgbm as lgbm

from sklearn.metrics import log_loss, auc, roc_auc_score

gc.collect()

In [ ]:
# model = LGBMClassifier(
#     n_jobs=-1,
#     n_estimators=500,
#     learning_rate=0.05,
#     subsample=0.6,
# )

model = XGBClassifier(
    n_jobs=-1,
    n_estimators=200,
    subsample=0.75,
)

model.fit(X_train, y_train)

In [ ]:
y_prob = model.predict_proba(X_val)
y_pred = model.predict(X_val)

In [ ]:
print('Log loss:', log_loss(y_val, y_prob))
print('ROC-AUC score:', roc_auc_score(y_val, y_pred))

# Generate Submission

In [ ]:
del X_train, X_val, y_train, y_val
gc.collect()

In [ ]:
test = pd.read_parquet('../input/test.parquet')
test_cols = ['ip', 'app', 'device', 'os', 'channel']
X_test = test[test_cols]

In [ ]:
submission = pd.DataFrame()
submission['click_id'] = test['click_id']
submission['is_attributed'] = model.predict_proba(X_test)[:,1]

In [ ]:
submission.head()

In [ ]:
submission.shape

In [ ]:
submission.to_csv('../submissions/lgb_simple_v5.csv', index=False)